<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Warlus Technic</title>
    
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/headers.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/icons/adminLTE-2.4.15/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/icons/bootstrap-5.1/bootstrap-icons.css">
  </head>
  <body>

    <header class="p-2 bg-dark opacity-75 text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <div class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img class="rounded-circle" src="/images/logo.jpeg" width="60px" height="60px">
          </div>

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 text-white"><i class="fa fa-home"></i> Inicio</a></li>
            <li><a href="/reclamo" class="nav-link px-2 text-secondary"><i class="fa fa-exclamation-triangle"></i> Reclamos</a></li>
          </ul>

          <div class="text-end">
            <a href="/login" type="button" class="btn btn-outline-light me-2">Iniciar sesi&oacute;n</a>
          </div>
        </div>
      </div>
    </header>

    <main class="container mt-3">
      <div class="p-4 p-md-5 mb-4 opacity-75 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-italic">Warlus Technic</h1>
          <p class="lead my-3">Bienvenido al sistema de garantias y servicios.</p>
        </div>
      </div>
    </main>

    <script src="/javascripts/bootstrap.bundle.min.js"></script>

  </body>
</html>
