<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Warlus Technic - Cambiar contrase&ntilde;a</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/icons/adminLTE-2.4.15/font-awesome.min.css">
        <link href="/stylesheets/cambiarPassword.css" rel="stylesheet">
    </head>
    <body>
      <div class="titulo">
        <h1>Cambiar contrase&ntilde;a</h1>
      </div>
      <div id="container">
        <h1>Cambiar contrase&ntilde;a</h1>
      
        <form class="form_cambiar">
          <img class="loading" style="position: absolute; z-index: 0; margin-top: -100px; display: none;" src="images/loading.webp">
          <input type="password" id="password" placeholder="Contrase&ntilde;a">
          <input type="password" id="passwordConfirmar" placeholder="Confirmar contrase&ntilde;a">
          <button type="button" id="btn_cambiar">Cambiar</button>
        </form>
      </div>
      
      <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
      <script type="text/javascript" src="/javascripts/sweetalert2@11.js"></script>
      <script type="text/javascript" src="/javascripts/ajax.js"></script>
      <script type="text/javascript" src="/javascripts/comun.js"></script>
      <script type="text/javascript" src="/javascripts/login.js"></script>
      
      <style>
        .form-swal {
          opacity: .8;
          color: rgb(0, 0, 0);
        }
      </style>

    </body>
</html>